@import "../variables.scss";
@import "../mixins.scss";

.menu_drawer {
    position: fixed;
    z-index: 1;
    top: 82px;
    width: 0;
    height: 100vh;
    overflow: hidden;
    @include transition(all .5s);
    background-color: $purple;

    ul {
        list-style: none;
        width: 100%;
        padding-left: 0;
        padding-top: 30px;
        white-space: nowrap;

        li {
            text-align: center;
            a {
                color: $white;
                text-transform: uppercase;
            }
        }
    }
}

.true {
    width: 100%;
}