@import '../variables.scss';
@import '../mixins.scss';

.form--container {
    padding: 8em 60px;
    text-align: center;

    @include respond-above(sm) {
        padding: 5em 1em;
    }

    .title {
        text-transform: uppercase;
        letter-spacing: 3.1px;
        font-size: 30px;
        font-weight: 400;
        line-height: 37px;
        color: $lightBrown;
    }

    &-inner {
        text-align: center;
        width: 90%;
        margin: 0 auto;

        form {
            text-align: center;
            padding: 0 8em;

            @include respond-above(sm) {
                padding: 0 4em;
            }

            @include respond-above(xs) {
                padding: 0;
            }
        }

        input {
            display: block;
            width: 100%;
            margin: 2em auto;
            height: 60px;
            padding-left: 1em;

            &[type="text"], &[type="tel"], &[type="email"] {
                border: 1px $lightGrey solid;

                &::placeholder {
                    color: $darkGrey;
                }
            }

            &.btn {
                width: initial;
                width: 148px;
                border-radius: 4px;
                font-size: 15px;
                letter-spacing: 1.25px;
                text-transform: uppercase;
                color: $white;
                background-color: $btnBC;

                &:hover {
                    background-color: $lightBrown;
                }
            }
        }
    }
}