@import '../mixins.scss';
@import '../styles.scss';
@import '../variables.scss';

.carousel--container {
    background-image: url('../../Assets/Testimonials_img.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 4em;
    height: 500px;
    position: relative;
    z-index: 0;

    &:before {
        z-index: -1;
        display: block;
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(18,6,0,0.8);
    }
    .title {
        text-align: center;
        text-transform: uppercase;
        color: $white;
        font-size: 38px;
        letter-spacing: 4.5px;
    }

    .testimonial, .author {
        color: $white;
    }

    .author {
        font-weight: 700;
    }

    .slick-slider {
        min-height: 300px;
        text-align: center;
        @include flexbox;
        @include align-items(center);

        .slick-dots {
            li {
                button {
                    border: 1px $white solid;
                    border-radius: 50%;
                    height: 10px;
                    width: 10px;
                    
                    &:hover {
                        &:before {
                            content: none;
                        }
                    }
                }

                &.slick-active {
                    button {
                        background-color: $white;

                        &:before {
                            content: none;
                        }
                    }
                }
            }
        }
    }
}