@import '../variables.scss';
@import '../mixins.scss';

footer {
    .top__footer {
        min-height: 400px;
        
        .logo__container {
            text-align: center;
            padding-top: 2em;

            img {
                width: 235px;
            }
        }

        .social__container {
            text-align: center;

            .icons {
                display: inline-block;
                padding: 1em;

                a {
                    font-size: 2em;
                    color: $darkBrown;
                    @include transition(color .3s);

                    &:hover {
                        color: $lightBrown;
                        text-decoration: none;
                    }
                }
            }
        }

        .address__container {
            @include flexbox;
            @include flex-wrap(wrap);
            @include justify-content(space-around);
            padding: 2em 0;

            .left__address, .right__address {
                display: inline-block;

                h5 {
                    color: $darkBrown;
                    font-weight: 600;
                }

                .phone, .email {
                    color: $lightBrown;
                    font-weight: 600;
                }
            }
        }
    }

    .bottom__footer {
        background-color: $lightBrown;

        .bottom__footer--container {
            @include flexbox;
            @include flex-wrap(wrap);
            @include justify-content(center);
            @include align-items(center);
            padding: 1em;

            p {
                margin: 0;
                color: $white;
                padding: 0 .5em;

                a {
                    color: $white;
                    text-decoration: underline;
                    &:hover {
                        opacity: .6;
                    }
                }
            }
        }
    }
}