@import '../variables.scss';
@import '../mixins.scss';

footer {
    .top__footer {
        min-height: 400px;
        
        .logo__container {
            text-align: center;
            padding-top: 2em;
        }
    }

    .bottom__footer {
        .bottom__footer--container {
            @include flexbox;
            @include flex-wrap(wrap);
            @include justify-content(center);
            @include align-items(center);
            padding: 1em;
            background-color: $lightBrown;

            p {
                margin: 0;
                color: $white;
                padding: 0 .5em;

                a {
                    color: $white;
                    text-decoration: underline;
                    &:hover {
                        opacity: .6;
                    }
                }
            }
        }
    }
}