.search_form_container {
    height: 400px;
    width: calc(100% - 40px);
    max-width: 1028px;
    position: absolute;
    left: 50%;
    bottom: -127px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    padding: 44px 94px 43px;
    background-color: #FFFFFF;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.4);

    display: none;

    .search_form_title {
        font-size: 25px;
        letter-spacing: 1.67px;
        line-height: 30px;
        text-transform: uppercase;
        color: #281004;
    }

    .search_bar {
        margin-top: 27px;
        border-radius: 4px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        width: 100%;

        .radio_control {
            height: 60px;
            width: 80px;
            padding: 0 12px;
            position: relative;

            input[type="radio"] {
                position: absolute;
                width: 100%;
                height: 100%;
                visibility: hidden;
                left: 0;
            }

            input[type="radio"]:checked+label {
                background-color: #281004;
            }

            label {
                position: absolute;
                width: 100%;
                height: 100%;
                left: 0;
                text-align: center;
                background-color: #92715C;
                text-transform: uppercase;
                font-size: 12px;
                line-height: 60px;
                cursor: pointer;
                color: #FFFFFF;
                -webkit-transition: background-color 350ms cubic-bezier(0.45, 0.05, 0.55, 0.95);
                transition: background-color 350ms cubic-bezier(0.45, 0.05, 0.55, 0.95);
            }
        }

        input[type="text"] {
            width: calc(100% - 200px);
            line-height: 58px;
            border-top: 1px solid #979797;
            border-bottom: 1px solid #979797;
            padding: 0 20px;
            color: #000000;

            &::placeholder {
                color: #000000;
            }
        }

        input[type="submit"] {
            height: 60px;
            width: 138px;
            line-height: 60px;
            letter-spacing: 1.25px;
            font-size: 16px;
            text-transform: uppercase;
            border: none;
            color: #FFFFFF;
            background-color: #281004;
            text-align: center;
            outline: 0;
            -webkit-transition: background-color 350ms cubic-bezier(0.45, 0.05, 0.55, 0.95);
            transition: background-color 350ms cubic-bezier(0.45, 0.05, 0.55, 0.95);
            cursor: pointer;
        }
    }

    .search_options {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-flow: row wrap;
        flex-flow: row wrap;
        width: 100%;
        // margin-top: 10px;

        @media screen and (min-width: 512px) {
            .option_control {
                width: calc(50% - 5px);
            }
            -webkit-box-pack: justify;
            -ms-flex-pack: justify;
            justify-content: space-between;
        }

        @media screen and (min-width: 1100px) {
            .dual_option {
                max-width: 235px !important;
            }

            .option_control {
                max-width: 160px;
                margin-top: 30px;
            }
        }

        .dual_option, .areas, .property_type {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-flow: row wrap;
            flex-flow: row wrap;
            -webkit-box-pack: justify;
            -ms-flex-pack: justify;
            justify-content: space-between;

            label {
                width: 100%;
            }

            .SumoSelect {
                // width: calc(50% - 5px);
                display: inline-block;
                position: relative;
                outline: none;

                .SumoUnder {
                    // position: absolute;
                    top: 0;
                    right: 0;
                    left: 0;
                    height: 100%;
                    width: 100%;
                    // border: none;
                    box-sizing: border-box;

                    .SelectBox {

                    }
                }

                select {
                    width: 100%;
                    padding: 10px;
                    border: 1px solid #cccccc;
                    height: 44px;
                }
            }
        }

        @media screen and (min-width: 512px) {
            .option_control {
                width: calc(50% - 5px);
            }
        }
        
        .option_control {
            label {
                white-space: nowrap;
                font-weight: 600;
                color: #281004;
                font-size: 16px;
                letter-spacing: 1px;
                line-height: 20px;
                display: block;
                text-transform: capitalize;
                margin-bottom: 10px;
                width: 100%;
            }
        }
    }
}