nav {
    position: fixed !important;
    top: 0;
    width: 100%;
    z-index: 1;
    border-top: 1px #5C2535 solid;
    border-bottom: 1px #5C2535 solid;

    .left {
        padding-left: 0;
        padding-right: 40px;
    }

    .right {
        // padding-left: 20px;
    }

    .nav-item {
        display: inline-block;
        a {
            color: #5C2535;
            // text-transform: uppercase;
    
            &:hover {
                // color: #000 !important;
                text-decoration: underline;
            }
        }
    }
}

.nav-clear {
    height: 59px;
}

@media screen and (max-width: 995px) {

}