nav {
    position: fixed !important;
    top: 0;
    width: 100%;
    z-index: 1;
    border-top: 1px #5C2535 solid;
    border-bottom: 1px #5C2535 solid;

    .text_logo, .mobile_menu_icon {
        display: none;
    }

    .left {
        padding-left: 0;
        padding-right: 40px;
    }

    .nav-item {
        display: inline-block;
        a {
            color: #5C2535;
    
            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.clear_menu {
    height: 108px;
}

@media screen and (max-width: 995px) {

    nav {
        .container {
            max-width: 1440px;

            .navbar-brand {
                display: none;
            }
    
            .text_logo {
                display: block;
                color: #5C2535;
                border: 2px #5C2535 solid;
                border-radius: 20%;
                padding: 10px;
                text-transform: uppercase;
            }
        }
    }
}

@media screen and (max-width: 785px) {
    nav {
        .container {
            flex-wrap: initial;

            .left, .right {
                padding: 0;
            }
        }
    }
}

@media screen and (max-width: 730px) {
    nav {
        .left, .right {
            display: none;
        }

        .text_logo {
            margin: 0 !important;
        }

        .mobile_menu_icon {
            display: block;
            font-size: 2em;
            color: #5C2535;
            cursor: pointer;
        }
    }
}
