@import "../variables.scss";
@import "../styles.scss";
@import "../mixins.scss";

.r__navbar {
    position: fixed !important;
    top: 0;
    width: 100%;
    z-index: 1;
    padding: 1em 0;
    background-color: $white;

    @media (max-width: 1050px) {

        .left, .navbar-brand, .right {
            display: none;
        }
    }

    .r__container {
        @include flexbox;
        @include align-items(baseline);
    }

    .text_logo, .mobile_menu_icon {
        display: none;

        @media (max-width: 1050px) {
            display: block;
        }
    }

    .text_logo {
        color: $purple;
        font-size: 2em;
    }

    .mobile_menu_icon {
        position: absolute;
        right: 1em;
        top: 25px;

        i {
            font-size: 2em;
        }
    }

    .left {
        padding: 0 40px 0 0;
    }

    .nav-item {
        display: inline-block;
        a {
            color: $purple;
            position: relative;

            &:before {
                content: "";
                    width: 0px;
                    height: 2px;
                    background-color: $purple;
                    position: absolute;
                    bottom: 0;
                    @include transition(width .5s);
            }
    
            &:hover {
                &:before {
                    width: 30px;
                }
            }
        }
    }
}

.clear_menu {
    height: 122px;

    @media (max-width: 1050px) {
        height: 83px;
    }
}