@import "../mixins.scss";
@import "../variables.scss";

.hero_image {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 20em 0;
    position: relative;


    @include respond-above(xs) {
        padding: 10em 0;
    }

    h1 {
        position: absolute;
        top: 0;
        left: 50%;
        margin-left: -50px;
        color: $white;
        padding-top: 1em;
        text-transform: uppercase;
    }

    &.sales {
        padding: 12em 0;
    }
}